<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>
</head>
<body>
<h2>Edit Profile</h2>

<form th:action="@{/updateProfile}" method="post" th:object="${user}">

<!--    <input type="hidden" th:field="*{id}" />-->

    <label>Username:
        <input type="text" th:field="*{username}" required />
    </label><br>

    <label>Mobile:
        <input type="text" th:field="*{mobile}" />
    </label><br>

    <label>Pincode:
        <input type="text" th:field="*{pincode}" />
    </label><br>

    <label>Country:
        <input type="text" th:field="*{country}" />
    </label><br><br>

    <button type="submit">Save Changes</button>
    <br><br>

    <!-- New button -->
    <a th:href="@{/changePassword}" style="margin-left: 10px;">
        <button type="button">Change Password</button>
    </a>

</form>

<a th:href="@{/welcome/farmer}">Cancel</a>
</body>
</html>
