<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>Welcome Farmer</title>
</head>
<body>
    <h1>Welcome, Buyer!</h1>
    <p>This is your Buyer dashboard.</p>

    <button>
        <a th:href="@{/updateProfile}">Edit Profile</a>
    </button>

    <br><br>

    <p th:if="${updateSuccess}" style="color:green;">Profile updated successfully!</p>
    <p th:if="${updateSuccess == false}" style="color:red;">Profile update failed!</p>

    <br>

    <button><a th:href="@{/logout}">Logout</a></button>
</body>
</html>
