<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Welcome Farmer</title>
</head>
<body>
    <h1>Welcome, Admin!</h1>
    <p>This is your admin dashboard.</p>
    <button>
        <a th:href="@{/logout}" class="button">Logout</a>
    </button>
    <button>
        <a href="/farmers" class="button">Show All Farmers</a>
    </button>
    <button>
        <a href="/buyers" class="button">Show All Buyers</a>
    </button>

    <br><br>

    <p th:if="${updateSuccess}" style="color:green;">Profile updated successfully!</p>
    <p th:if="${updateSuccess == false}" style="color:red;">Profile update failed!</p>
</body>
</html>
